In [2]:
import pandas as pd 
import pymysql 
import pymysql.cursors
import numpy as np

df = pd.DataFrame()
df_update = {}
insert_column = ()
update_column = [] 

## 1
ssh_host = '3.36.21.112'
ssh_port = '21'
conn_practice = pymysql.connect(host='3.36.21.112', user='root', password='ckUdC17yqltr', db='practice')
#conn_resource = pymysql.connect(host='3.36.21.112', user='root', password='ckUdC17yqltr', db='resource')
#conn_testserver = pymysql.connect(host='3.36.21.112', user='root', password='ckUdC17yqltr', db='saladpet')
#conn_local = pymysql.connect( host ='127.0.0.1', user = 'root', password= '1234', db='saladpet')

## 2
cursor_practice = conn_practice.cursor()
# cursor_resource = conn_resource.cursor() #dictionary 형태로 결과 반환 원해 -> pymysql.cursors.Dictcursor을 ()에 넣어줌.
# cursor_testserver = conn_testserver.cursor()
# cursor_local = conn_local.cursor()

## 3
data_cap = "select * from data_cap"
#sql_map_product_cate = "select * from map_product_cate"


## 4
data_cap = pd.read_sql(data_cap, conn_practice) # 열이 포함된 형태로 select하려면 이 문자형태로 진행 
#map_product_cate = pd.read_sql(sql_map_product_cate, conn_resource)
conn_practice.commit

data_cap

      product     ca     p result  price_per_kcal
0         480   0.01  0.02    bad      218.755261
1         481   0.04  0.02   good      494.502863
2        1137   0.01  0.01   good      168.661484
3        1139   0.01  0.02    bad      134.182748
4        1993   0.99  0.95   good       35.912726
...       ...    ...   ...    ...             ...
1209   109043    0.2   0.1   good      255.423758
1210   109044   0.19   0.1   good      244.797301
1211   109798  0.025  0.12    bad      500.000000
1212   109801   0.99  0.99   good       22.362300
1213   109802   0.99   0.8   good       24.120730

[1214 rows x 5 columns]

In [2]:
df_from_excel = pd.read_excel("new_middle.xlsx")

In [3]:
df_from_excel.head()

   product  ingred_row                                 ingred_name
0    16050           4                           Natural Flavoring
1    16050           5                         Green-Lipped Mussel
2    16051           2                            Chicken Gizzards
3    16052           3                                 Lamb Kidney
4    16052           7  Fish Oil(preserved with Mixed Tocopherols)

In [4]:
df_from_excel = pd.read_excel("new_middle.xlsx")
excel_list = df_from_excel['ingred_name'].values.tolist() 

for i, b in enumerate(excel_list) :
    sql = ' select ingred_index, ingred_name, dic_index, match(ingred_name) against ( "%s*" in boolean mode) as score from ingred_dict_bridge where match(ingred_name) against ( "%s*" in boolean mode)  order by score DESC limit 10 ' % ( b, b)
    if i == 0 :

        df_final = pd.read_sql( sql, conn_local)
        df_final[ 'search_want_ingred_name' ] = b
    else :
        sql = ' select ingred_index, ingred_name, dic_index, match(ingred_name) against ( "%s*" in boolean mode) as score from ingred_dict_bridge where match(ingred_name) against ( "%s*" in boolean mode)  order by score DESC limit 10 ' % ( b, b)
        df = pd.read_sql(sql, conn_local)
        df['search_want_ingred_name'] = b 

        df_final = df_final.append( df )

        


print (df_final)


df_final.to_excel( 'ingred_name_finish.xlsx' , sheet_name = 'sheet1' )

   ingred_index                                        ingred_name dic_index  \
0         13803                            Natural Bacon Flavoring      4810
1         13804                          Natural Chicken Flavoring     48024
2         13806                             Natural Duck Flavoring     48027
3         13812                    Natural Peanut Butter Flavoring      4832
4         18799                              Natural Turkey Flavor     48026
..          ...                                                ...       ...
5         15703      canola oil (preserved with mixed tocopherols)       181
6         17414  Canola oil (preserved with mixed tocopherols a...       181
7         12713  Chicken Fat (preserved with mixed Tocopherols,...       503
8         13546        Fish Oil (preserved with Mixed Tocopherols)       514
9         13548        Fish oil (preserved sith mixed tocopherols)       514

        score                          search_want_ingred_name
0   18.494108                                Natural Flavoring
1   18.494108                                Natural Flavoring
2   18.494108                                Natural Flavoring
3   18.494108                                Natural Flavoring
4   13.664563                                Natural Flavoring
..        ...                                              ...
5   59.746685  sunfloweroil (preserved with mixed tocopherols)
6   59.746685  sunfloweroil (preserved with mixed tocopherols)
7   57.250057  sunfloweroil (preserved with mixed tocopherols)
8   57.250057  sunfloweroil (preserved with mixed tocopherols)
9   57.250057  sunfloweroil (preserved with mixed tocopherols)

[438 rows x 5 columns]