In [2]:
## 1. 필요한 pandas, pymysql 셋팅 작업 ##
import pandas as pd 
import pymysql 
import pymysql.cursors
 
ssh_host = '3.36.21.112'
ssh_port = '21'
conn_resource = pymysql.connect(host='3.36.21.112', user='root', password='ckUdC17yqltr', db='resource')
conn_testserver = pymysql.connect(host='3.36.21.112', user='root', password='ckUdC17yqltr', db='saladpet')
## 2. 엑셀 전처리 시 필요한 SQL DB 불러오기 작업 ##

cursor_resource = conn_resource.cursor() #dictionary 형태로 결과 반환 원해 -> pymysql.cursors.Dictcursor을 ()에 넣어줌.
cursor_testserver = testserver.cursor()
sql_supplement_type = "select * from supplement_type"
sql_map_product_cate = "select * from map_product_cate"

supplement_type = pd.read_sql(sql_supplement_type, conn) # 열이 포함된 형태로 select하려면 이 문자형태로 진행 
map_product_cate = pd.read_sql(sql_map_product_cate, conn)
conn.commit
#supplement_type.set_index("type_id", inplace = True ) # inplace = true는 변경 사항을 그대로 객체에 다시 저장한다.
#map_product_cate.set_index("mc_pk", inplace = True) 

## 3. 엑셀 불러오기 작업 ##
df_pro = pd.read_excel("supplement_final_DB_0712.xlsx", sheet_name = "product",usecols= [0,1,2,3,4,5,6,7,8,9,10])
df_nu = pd.read_excel("supplement_final_DB_0712.xlsx", sheet_name = "nutrient",usecols = [0,1,2,3,4,5,6,7])
df_cal = pd.read_excel("supplement_final_DB_0712.xlsx", sheet_name = "calorie")
df_fun = pd.read_excel("supplement_final_DB_0712.xlsx", sheet_name = "function_ingredient")
df_price = pd.read_excel("supplement_final_DB_0712.xlsx", sheet_name = "price", usecols = [0,1,2,3,4,5,6])
df_plan = pd.read_excel("supplement_final_DB_0712.xlsx", sheet_name = "plan")
df_ingredient = pd.read_excel("supplement_final_DB_0712.xlsx", sheet_name = "ingredient")
## 4. 데이터 전처리 작업 ##
df_pro = pd.merge(df_pro, supplement_type, how = 'left', left_on = 'subtype_nm', right_on = 'type_nm')
df_pro = pd.merge(df_pro, map_product_cate, how = 'left', left_on = 'category', right_on = 'mc_nm')
df_pro["lc_pk"] = 3
product = df_pro.iloc[:,[0,1,2,5,6,7]]
supplement_unit = df_pro.iloc[:,[0,8,9,10,11]]
product_cate = df_pro.iloc[:,[0,13,15]]
product = product.rename(columns = {'product_name':'prod_nm', 'brand_key':'brand_pk'})
product = product.where(product.notnull(),None)
supplement_unit = supplement_unit.where(supplement_unit.notnull(),None)
df_plan = df_plan.where(df_plan.notnull(),None)
df_price = df_price.where(df_price.notnull(),None)
df_nu = df_nu.where(df_nu.notnull(),None)
df_cal = df_cal.where(df_cal.notnull(),None)


supplement_unit = supplement_unit.rename( columns = {'type_id' : 'subtype_id'} )

p_table_name = "products" 
p_pk = ["product"] 

unit_table_name = "supplement_unit"
unit_pk = ["product"]

cate_table_name = "product_cate"
cate_pk = ["product"]

plan_table_name = "tempo_supplement_plan"
plan_pk = ["product"]

price_table_name = "tempo_supplement_price"
price_pk = ["product"]

nu_table_name = "product_nutrient"
nu_pk = ["product"]

cal_table_name = "product_calorie"
cal_pk = ["product"]

ing_table_name = "tempo_supplement_ingredient"
ing_pk = ["product", "ingred_row"]
#df_to_sql(product, p_table_name , p_pk )
#df_to_sql(supplement_unit, unit_table_name , unit_pk)
#df_to_sql(product_cate, cate_table_name, cate_pk )
#df_to_sql(df_plan, plan_table_name, plan_pk)
#df_to_sql(df_price, price_table_name, price_pk )
#df_to_sql(df_nu, nu_table_name, nu_pk)
#df_to_sql(df_cal, cal_table_name, cal_pk )
#df_to_sql(df_ingredient, ing_table_name, ing_pk)

In [13]:
cond_A = ( df_ingredient['function_ingredient_id'] =='5,10,11,13,14,19')

# df_ingredient.loc[cond_A, 'function_ingredient_id'] =

df_ingredient['ingred_row'].unique()

cond_A = ( df_ingredient['function_ingredient_id'] == '5,10,11,13,14,19' )

df_ingredient.loc[cond_A, 'function_ingredient_id' ] = None] 
#df_ingredient['function_ingredient_id'].astype(float)
# df_ingredient.loc[(df_ingredient['ingred_row'] == None ), : ]

      product  ingred_row       ingred_name function_ingredient_id
0        9925           1  Soybean Lecithin                      1
1        9925           2         Rice Bran                    NaN
2        9925           3         Corn Meal                    NaN
3        9925           4    Raw Wheat Germ                    NaN
4        9925           5  White Rice Flour                    NaN
...       ...         ...               ...                    ...
7118     5377           3             써모필러스                      3
7119     5377           4        비피도박테리움 롱검                      4
7120     5377           5              탈지분유                    NaN
7121     5377           6               포도당                    NaN
7122     5377           7               정제수                    NaN

[7123 rows x 4 columns]

In [ ]:
df_ingredient = df_ingredient.where(df_ingredient.notnull(),None)

<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<ipython-input-3-bded3bca8ea8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group_row['rank_weight'] = df_group_row["pet_weight_min"].rank(method = "dense")
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 711 to 713
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product         3 non-null      int64
 1   attribute       0 non-null      object
 2   pet_type        3 non-null      int64
 3   pet_weight_min  3 non-null      float64
 4   pet_weight_max  2 non-null      float64
 5   weight_unit     3 non-null      object
 6   time_per_day    3 non-null      object
 7   min_amount      3 non-null      object
 8   max_amount      3 non-null      object
 9   per_unit        3 non-null      int64
 10  rank_weight     3 non-null      int64
dtypes: float64(2), int64(4), object(5)
memory usage: 288.0+ bytes
0
     product attribute  pet_type  pet_weight_min  pet_weight_max weight_unit  \
713     2342      None         3            20.0             NaN          kg

    time_per_day min_amount max_amount  per_unit  rank_weight
713            1        3.0        4.5         2            3
2
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1876 to 1879
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product         4 non-null      int64
 1   attribute       0 non-null      object
 2   pet_type        4 non-null      int64
 3   pet_weight_min  4 non-null      float64
 4   pet_weight_max  3 non-null      float64
 5   weight_unit     4 non-null      object
 6   time_per_day    4 non-null      object
 7   min_amount      4 non-null      object
 8   max_amount      4 non-null      object
 9   per_unit        4 non-null      int64
 10  rank_weight     4 non-null      int64
dtypes: float64(2), int64(4), object(5)
memory usage: 384.0+ bytes
1
      product attribute  pet_type  pet_weight_min  pet_weight_max weight_unit  \
1879     2785      None         1            50.0             NaN          kg

     time_per_day min_amount max_amount  per_unit  rank_weight
1879            1        4.0        4.0         1            4
2
3
4
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1880 to 1883
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product         4 non-null      int64
 1   attribute       0 non-null      object
 2   pet_type        4 non-null      int64
 3   pet_weight_min  4 non-null      float64
 4   pet_weight_max  3 non-null      float64
 5   weight_unit     4 non-null      object
 6   time_per_day    4 non-null      object
 7   min_amount      4 non-null      object
 8   max_amount      4 non-null      object
 9   per_unit        4 non-null      int64
 10  rank_weight     4 non-null      int64
dtypes: float64(2), int64(4), object(5)
memory usage: 384.0+ bytes
2
      product attribute  pet_type  pet_weight_min  pet_weight_max weight_unit  \
1883     2791      None         2            50.0             NaN          kg

     time_per_day min_amount max_amount  per_unit  rank_weight
1883            1        4.0        4.0         1            4
2
3
4
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1645 to 1648
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product         4 non-null      int64
 1   attribute       0 non-null      object
 2   pet_type        4 non-null      int64
 3   pet_weight_min  4 non-null      float64
 4   pet_weight_max  3 non-null      float64
 5   weight_unit     4 non-null      object
 6   time_per_day    4 non-null      object
 7   min_amount      4 non-null      object
 8   max_amount      4 non-null      object
 9   per_unit        4 non-null      int64
 10  rank_weight     4 non-null      int64
dtypes: float64(2), int64(4), object(5)
memory usage: 384.0+ bytes
3
      product attribute  pet_type  pet_weight_min  pet_weight_max weight_unit  \
1648     2833      None         3            15.0             NaN          kg

     time_per_day min_amount max_amount  per_unit  rank_weight
1648            1        4.0        4.0         1            4
2
3
4
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1649 to 1652
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product         4 non-null      int64
 1   attribute       0 non-null      object
 2   pet_type        4 non-null      int64
 3   pet_weight_min  4 non-null      float64
 4   pet_weight_max  3 non-null      float64
 5   weight_unit     4 non-null      object
 6   time_per_day    4 non-null      object
 7   min_amount      4 non-null      object
 8   max_amount      4 non-null      object
 9   per_unit        4 non-null      int64
 10  rank_weight     4 non-null      int64
dtypes: float64(2), int64(4), object(5)
memory usage: 384.0+ bytes
4
      product attribute  pet_type  pet_weight_min  pet_weight_max weight_unit  \
1652     2834      None         3            15.0             NaN          kg

     time_per_day min_amount max_amount  per_unit  rank_weight
1652            1        4.0        4.0         1            4
2
3
4
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1653 to 1656
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product         4 non-null      int64
 1   attribute       0 non-null      object
 2   pet_type        4 non-null      int64
 3   pet_weight_min  4 non-null      float64
 4   pet_weight_max  3 non-null      float64
 5   weight_unit     4 non-null      object
 6   time_per_day    4 non-null      object
 7   min_amount      4 non-null      object
 8   max_amount      4 non-null      object
 9   per_unit        4 non-null      int64
 10  rank_weight     4 non-null      int64
dtypes: float64(2), int64(4), object(5)
memory usage: 384.0+ bytes
5
      product attribute  pet_type  pet_weight_min  pet_weight_max weight_unit  \
1656     2835      None         3            15.0             NaN          kg

     time_per_day min_amount max_amount  per_unit  rank_weight
1656            1        4.0        4.0         1            4
2
3
4
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1657 to 1660
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product         4 non-null      int64
 1   attribute       0 non-null      object
 2   pet_type        4 non-null      int64
 3   pet_weight_min  4 non-null      float64
 4   pet_weight_max  3 non-null      float64
 5   weight_unit     4 non-null      object
 6   time_per_day    4 non-null      object
 7   min_amount      4 non-null      object
 8   max_amount      4 non-null      object
 9   per_unit        4 non-null      int64
 10  rank_weight     4 non-null      int64
dtypes: float64(2), int64(4), object(5)
memory usage: 384.0+ bytes
6
      product attribute  pet_type  pet_weight_min  pet_weight_max weight_unit  \
1660     2836      None         3            15.0             NaN          kg

     time_per_day min_amount max_amount  per_unit  rank_weight
1660            1        4.0        4.0         1            4
2
3
4
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1661 to 1664
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product         4 non-null      int64
 1   attribute       0 non-null      object
 2   pet_type        4 non-null      int64
 3   pet_weight_min  4 non-null      float64
 4   pet_weight_max  3 non-null      float64
 5   weight_unit     4 non-null      object
 6   time_per_day    4 non-null      object
 7   min_amount      4 non-null      object
 8   max_amount      4 non-null      object
 9   per_unit        4 non-null      int64
 10  rank_weight     4 non-null      int64
dtypes: float64(2), int64(4), object(5)
memory usage: 384.0+ bytes
7
      product attribute  pet_type  pet_weight_min  pet_weight_max weight_unit  \
1664     2837      None         3            15.0             NaN          kg

     time_per_day min_amount max_amount  per_unit  rank_weight
1664            1        4.0        4.0         1            4
2
3
4
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1665 to 1668
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product         4 non-null      int64
 1   attribute       0 non-null      object
 2   pet_type        4 non-null      int64
 3   pet_weight_min  4 non-null      float64
 4   pet_weight_max  3 non-null      float64
 5   weight_unit     4 non-null      object
 6   time_per_day    4 non-null      object
 7   min_amount      4 non-null      object
 8   max_amount      4 non-null      object
 9   per_unit        4 non-null      int64
 10  rank_weight     4 non-null      int64
dtypes: float64(2), int64(4), object(5)
memory usage: 384.0+ bytes
8
      product attribute  pet_type  pet_weight_min  pet_weight_max weight_unit  \
1668     2838      None         3            15.0             NaN          kg

     time_per_day min_amount max_amount  per_unit  rank_weight
1668            1        4.0        4.0         1            4
2
3
4
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 1081 to 1083
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product         3 non-null      int64
 1   attribute       0 non-null      object
 2   pet_type        3 non-null      int64
 3   pet_weight_min  3 non-null      float64
 4   pet_weight_max  3 non-null      float64
 5   weight_unit     3 non-null      object
 6   time_per_day    3 non-null      object
 7   min_amount      3 non-null      object
 8   max_amount      3 non-null      object
 9   per_unit        3 non-null      int64
 10  rank_weight     3 non-null      int64
dtypes: float64(2), int64(4), object(5)
memory usage: 288.0+ bytes
9
      product attribute  pet_type  pet_weight_min  pet_weight_max weight_unit  \
1083     2869      None         1            10.0            20.0          kg

     time_per_day min_amount max_amount  per_unit  rank_weight
1083            1       0.33        0.5         1            3
2
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 2002 to 2004
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product         3 non-null      int64
 1   attribute       0 non-null      object
 2   pet_type        3 non-null      int64
 3   pet_weight_min  3 non-null      float64
 4   pet_weight_max  3 non-null      float64
 5   weight_unit     3 non-null      object
 6   time_per_day    3 non-null      object
 7   min_amount      3 non-null      object
 8   max_amount      3 non-null      object
 9   per_unit        3 non-null      int64
 10  rank_weight     3 non-null      int64
dtypes: float64(2), int64(4), object(5)
memory usage: 288.0+ bytes
10
      product attribute  pet_type  pet_weight_min  pet_weight_max weight_unit  \
2004     2912      None         3            25.0            62.0          kg

     time_per_day min_amount max_amount  per_unit  rank_weight
2004            1        2.5        2.5         1            3
2
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 2005 to 2007
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product         3 non-null      int64
 1   attribute       0 non-null      object
 2   pet_type        3 non-null      int64
 3   pet_weight_min  3 non-null      float64
 4   pet_weight_max  3 non-null      float64
 5   weight_unit     3 non-null      object
 6   time_per_day    3 non-null      object
 7   min_amount      3 non-null      object
 8   max_amount      3 non-null      object
 9   per_unit        3 non-null      int64
 10  rank_weight     3 non-null      int64
dtypes: float64(2), int64(4), object(5)
memory usage: 288.0+ bytes
11
      product attribute  pet_type  pet_weight_min  pet_weight_max weight_unit  \
2007     2913      None         3            25.0            62.0          kg

     time_per_day min_amount max_amount  per_unit  rank_weight
2007            1        2.5        2.5         1            3
2
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 2008 to 2010
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product         3 non-null      int64
 1   attribute       0 non-null      object
 2   pet_type        3 non-null      int64
 3   pet_weight_min  3 non-null      float64
 4   pet_weight_max  3 non-null      float64
 5   weight_unit     3 non-null      object
 6   time_per_day    3 non-null      object
 7   min_amount      3 non-null      object
 8   max_amount      3 non-null      object
 9   per_unit        3 non-null      int64
 10  rank_weight     3 non-null      int64
dtypes: float64(2), int64(4), object(5)
memory usage: 288.0+ bytes
12
      product attribute  pet_type  pet_weight_min  pet_weight_max weight_unit  \
2010     2914      None         3            25.0            62.0          kg

     time_per_day min_amount max_amount  per_unit  rank_weight
2010            1        2.5        2.5         1            3
2
3

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [142]:
df_insert

,product,attribute,pet_type,pet_weight_min,pet_weight_max,weight_unit,time_per_day,min_amount,max_amount,per_unit,rank_weight
174,20134.0,치료수유,3.0,0.0,10.0,kg,1,2.0,2.0,1.0,1.0

In [12]:
sql_total_supplement = "select * from total_product_supplement"
total_product_supplement = pd.read_sql(sql_total_supplement, conn)
conn.commit
total_product_supplement.info()
total_product_supplement = total_product_supplement.where(total_product_supplement.notnull(),None)
tps_table_name = "total_product_management"
tps_pk = ["product"]

df_to_sql_saladpet (total_product_supplement, tps_table_name, tps_pk )

DatabaseError: Execution failed on sql: select * from total_product_supplement
(2013, 'Lost connection to MySQL server during query ([Errno 54] Connection reset by peer)')
unable to rollback